<?xml version="1.0"?>
<configuration>
	<CSConfig id="id" name="CDRMA">
		<UserName value="a4qOU1Rha7PzjzeNUsXAU78ElYinbcsnMFxlnDn6BoJUIgX9+s6ER3LVmpMfuppTmGNan8PmcSB4ohGZT+jvITMBV8ZPDAi3oGT4V4nNn76/7LRBeCa5d3cAIoOc78feaZj9WH2ijYTq7njrcO0Nw8aMRyghOaPFkNvVXn3UrxQ=" />
		<Password value="akyaT/TuRgKgPsQj6OMTeqWqdqnTqj622hyAIVb9/S16homEVNCfI+m+SUzvJ7419+C5fyMZ1OdyW0D9BMI5KPPeL+kzBqNfZ/6FBj2LN/axBjnF/m/516mGM1u3PSe+A4f/f7FGx23UkfZcLF740FiP1CRk1jnOOrfHm0QeTjw=" />
	</CSConfig>
</configuration>